.navbar-black {
  background-color: #252422!important;
  color: #DDDDDD;
}

.navbar {
  padding: 1rem 1rem;
}

.navbar-dark .navbar-toggler {
  border: unset;
}

.section-main {
  padding-top: 100px;
  padding-bottom: 30px;
}

.search-result a:hover {
  text-decoration: none;
}

.footer {
  background-attachment: fixed;
  position: relative;
  line-height: 20px;
}

.footer-black {
  background-color: #252422;
  color: #DDDDDD;
}

.footer nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.footer nav > ul > li {
  display: inline-block;
  padding: 10px 15px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center;
}

.footer nav > ul a:not(.btn) {
  color: #777777;
  display: block;
  margin-bottom: 3px;
  line-height: 1.6;
  opacity: .8;
  font-size: 12px;
  text-transform: uppercase;;
  font-weight: bold;
}

.footer nav > ul a:not(.btn):hover, .footer nav > ul a:not(.btn):focus {
  color: #E3E3E3;
  text-decoration: none;
}

.footer .credits, .footer-nav {
  line-height: 85px;
}

.footer .copyright {
  color: #777777;
  padding: 10px 15px;
  font-size: 14px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center;
}

.footer .heart {
  color: #EB5E28;
}
