/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: rem;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  border-bottom: 1px solid rgba(0,0,0,.1);
  position: relative;
  top: 75px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  /*padding: 20px;*/
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
  color: rgba(0,0,0,.85);
  background-color: unset;
}

.sidebar .nav-link {
  color: rgba(0,0,0,.65);
}

.sidebar .nav-link:hover {
  color: rgba(0,0,0,.85);
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar-doc {
  padding: 10px 10px;
}

.navbar-doc .form-inline {
  flex-flow: unset;
  width: 75%;
}

.nav-pills .nav-link.active {
  font-weight: 600;
}

.navbar-doc .form-inline input {
  width: 100%;
}

.navbar-doc .navbar-toggler {
  border: none;
  padding-right: 16px;
}

@media (min-width: 768px) {
  .navbar-doc {
    display: none;
  }

  .sidebar .collapse {
    display: block;
  }

  .sidebar {
    border: none;
    border-right: 1px solid rgba(0,0,0,.1);
    position: fixed;

  }
}

@media (max-width: 992px) {
  /*.sidebar {
    top: 85px;
  }*/
}

.section-main {
  padding-top: 100px!important;
  padding-left: 40px;
  padding-left: 40px;
}
